<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.duchen.template.usage">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/photo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TouchEventDispatch.TestDispatchActivity">
        </activity>
        <activity android:name=".PinScrollable.PinScrollableActivity">
        </activity>
        <activity android:name=".TestNotification.TestNotificationsActivity">
        </activity>
        <activity android:name=".Kotlin.KotlinMainActivity">
        </activity>
        <activity android:name=".TestViewPager.TestViewPagerActivity">
        </activity>
        <activity
            android:name=".TestBrowser.ActivityBrowser"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".TestNotification.TestInvokeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".TestNotification.ReceiverIntentService"
            android:enabled="true"/>

        <activity android:name=".TestBrowser.TestBrowserActivity">
        </activity>
    </application>

</manifest>