<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.duchen.template.usage">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/photo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TouchEventDispatch.EventDispatchActivity"
                  android:label="TestDispatchActivity"/>
        <activity android:name=".PinScrollable.PinScrollableActivity"
                  android:label="PinScrollableActivity"/>
        <activity android:name=".TestNotification.NotificationsActivity"
                  android:label="TestNotificationsActivity"/>
        <activity android:name=".Kotlin.KotlinMainActivity"
                  android:label="KotlinMainActivity"/>
        <activity android:name=".TestViewPager.NormalViewPagerActivity"
                  android:label="TestViewPagerActivity"/>

        <activity android:name=".TestLifeCircle.LifeCircleActivityA"
                  android:launchMode="standard"
                  android:label="TestLifeCircleActivityA"/>
        <activity android:name=".TestLifeCircle.LifeCircleActivityB"
                  android:launchMode="standard"
                  android:label="TestLifeCircleActivityB"/>
        <activity
            android:name=".TestNotification.InvokeActivity"
            android:label="TestInvokeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".TestNotification.ReceiverIntentService"
            android:enabled="true"/>

        <activity android:name=".TestBrowser.TestBrowserActivity"
                  android:label="TestBrowserActivity"/>

        <activity android:name=".TestAutoLoopViewPager.AutoLoopViewPagerActivity"
                  android:label="TestAutoLoopViewPager"/>
    </application>

</manifest>