<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.duchen.template.usage">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/photo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TouchEventDispatch.TestDispatchActivity"
                  android:label="TestDispatchActivity"/>
        <activity android:name=".PinScrollable.PinScrollableActivity"
                  android:label="PinScrollableActivity"/>
        <activity android:name=".TestNotification.TestNotificationsActivity"
                  android:label="TestNotificationsActivity"/>
        <activity android:name=".Kotlin.KotlinMainActivity"
                  android:label="KotlinMainActivity"/>
        <activity android:name=".TestViewPager.TestViewPagerActivity"
                  android:label="TestViewPagerActivity"/>

        <activity android:name=".TestLifeCircle.TestLifeCircleActivityA"
                  android:launchMode="standard"
                  android:label="TestLifeCircleActivityA"/>
        <activity android:name=".TestLifeCircle.TestLifeCircleActivityB"
                  android:launchMode="standard"
                  android:label="TestLifeCircleActivityB"/>

        <activity
            android:name=".TestBrowser.ActivityBrowser"
            android:label="ActivityBrowser"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".TestNotification.TestInvokeActivity"
            android:label="TestInvokeActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".TestNotification.ReceiverIntentService"
            android:enabled="true"/>

        <activity android:name=".TestBrowser.TestBrowserActivity"
                  android:label="TestBrowserActivity"/>
    </application>

</manifest>